handler.mapping.url.prefix=**/core/
context.root.component.prefix=/comp/core/
support.httpClientCaching=false

# Build date is used to set the last modified time of JavaScript files served up by this component.
build.date=@BUILDDATE@
build.version=@BUILDVERSION@